.subtitle {
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--sub-color);
    margin-bottom: 15px;
}

.title {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: var(--text-color);
}

.text_name {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: var(--grey-color);
    margin-bottom: 30px;
}

.subtitle__text_content {
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--grey-color);
    margin-bottom: 30px;
}

.text__flex {
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-gray);
    margin-bottom: 20px;
}