* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --smal-text-color: #7B7B7B;
    --text-color: #565656;
    --bg-color: #f4f4f4;
    --white-color: #fff;
}

.title {
    font-family: "Red Hat Display", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
}

.title__blog {
    font-family: "Red Hat Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
}

.small_text {
    font-family: "Lato", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--smal-text-color);
}

.subtitle {
    font-family: "Red Hat Display", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
}

.text {
    font-family: "Lato", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
}

.mini-title {
    font-family: "Red Hat Display", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

.text_info {
    font-family: "Red Hat Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

.text_content__info-right {
    font-family: "Lato", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.footer_text__item {
    font-family: "Lato", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.title__footer {
    font-family: "Red Hat Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
}

.footer_text-last__item {
    font-family: "Lato", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.btn {
    background-color: var(--text-color);
    color: var(--white-color);
    max-width: 180px;
    font-family: "Lato", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    padding: 10px 45px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--text-color);
}

/* header */

.container {
    max-width: 767px;
    margin-bottom: 70px;
    padding: 10px 20px;
}

.menu {
    display: flex;
    visibility: hidden;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    max-width: 767px;
    margin-bottom: 0px;
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -20px;
}

/* hero */
.hero {
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text_content__hero {
    padding: 70px 10px 230px;
}

/* main blog */
.img {
    width: 100%;
}

.title__blog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.small_text__blog {
    margin-bottom: 30px;
}

.small_text__blog:last-child {
    margin-bottom: 40px;
}

.subtitle__blog {
    margin-bottom: 10px;
}

.text__blog {
    margin-bottom: 30px;
}

.flex__blog :first-child {
    margin-bottom: 50px;
}

.text__blog::after {
    content: url(../img/Arrow\ 2.svg);
}

.view_content .small_text::after {
    content: url(../img/Arrow\ 2.svg);
}

/* posts */
.mini-title {
    margin-bottom: 10px;
}

.mini-title_content {
    margin-bottom: 30px;
}

.flex__item {
    margin-bottom: 50px;
}

.flex__item:last-child {
    margin-bottom: 0px;
}

.img__posts {
    margin-bottom: 25px;
}

.small_text_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.subtitle__posts {
    margin-bottom: 20px;
}

/* popular */
.flex_content {
    margin-bottom: 50px;
}

.img__popular {
    margin-bottom: 25px;
}

.subtitle__popular {
    margin-bottom: 10px;
}

.container__popular {
    margin-bottom: 0px;
}

/* button */
.button__popular {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.text_content__info {
    margin-bottom: 20px;
}

/* footer */
.footer {
    background-color: var(--bg-color);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__footer {
    padding-top: 50px;
    margin-bottom: 20px;
}

.footer_text__item:first-child {
    margin-bottom: 15px;
}

.footer_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-bottom: 40px;
}

.footer_text-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* hover */
.icon:hover .color--1 {
    fill: var(--white-color);
}

.icon:hover {
    background-color: var(--text-color);
}