@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
}

.body {
  margin: 0 auto;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

:root {
  --color-white: #fff;
  --color-green: #006C35;
  --color-bg-svg: #006031;
  --color-green-light: #33895E;
  --color-hover: #00b259;
  --color-active: #19e17d;
  --color-line: #AEC5BA;
  --color-green-primary: #E5F0EB;
  --color-gray: #636363;
  --color-gray-9: #000D07;
  --color-black: #000;
  --color-gray-8: #26312C;
  --color-gray-7: #4C5651;
  --color-text-card: #5A5A5A;
  --color-gray-footer-bg: #F5F5F5;
  --color-gray-4: #D9DBDA;
  --border-color: #FFFFFF80;
}

.menu_item__text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-white);
}

.title {
  font-weight: 300;
  font-size: 36px;
  line-height: 60px;
  color: var(--color-white);
}
@media (min-width: 888px) {
  .title {
    font-size: 48px;
  }
}

.subtitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--color-white);
}
@media (min-width: 888px) {
  .subtitle {
    font-size: 24px;
  }
}

.map__title {
  color: var(--color-gray);
}
@media (min-width: 888px) {
  .map__title {
    font-size: 48px;
  }
}

.map__subtitle {
  font-weight: 300;
  line-height: 100%;
  color: var(--color-gray);
}
@media (min-width: 888px) {
  .map__subtitle {
    font-size: 24px;
    line-height: 30px;
  }
}

.text_content__title {
  color: var(--color-gray-9);
}
@media (min-width: 888px) {
  .text_content__title {
    font-size: 48px;
  }
}

.text_content__text {
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  color: var(--color-gray-8);
}

.green_content__text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 8px;
  line-height: 9px;
  color: var(--color-white);
}
@media (min-width: 888px) {
  .green_content__text {
    font-size: 12px;
    line-height: 13px;
  }
}

.freedom__title {
  line-height: 44px;
  color: var(--color-gray-9);
}
@media (min-width: 888px) {
  .freedom__title {
    font-size: 48px;
    line-height: 60px;
  }
}

.freedom__subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--color-gray-8);
}

.item__text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-gray-8);
}

.footer__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: var(--color-gray-8);
}
@media (min-width: 888px) {
  .footer__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.lang__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray-8);
}

.community_hero__text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-white);
}
@media (min-width: 888px) {
  .community_hero__text {
    font-size: 24px;
    line-height: 28px;
  }
}

.title_card {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.green_text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-bg-svg);
}

.text_card {
  font-family: "Inter";
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: var(--color-text-card);
}

.community_stay__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-black);
}
@media (min-width: 888px) {
  .community_stay__title {
    font-size: 36px;
    line-height: 60px;
  }
}

.community_donate__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: var(--color-gray-9);
}

.community_donate__text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-gray-8);
}

.support_hero__subtitle {
  font-weight: 300;
}

.breadcrumb__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--color-white);
}

.support_main__title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}
.support_main__text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
}

.support_get__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: var(--color-gray-9);
}
.support_get__subtitle {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-black);
}
.support_get__text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-text-card);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 22px;
  background-color: var(--color-green);
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
@media (min-width: 888px) {
  .button {
    font-size: 16px;
    padding: 14px 28px;
  }
}
.button:hover {
  background-color: var(--color-hover);
  transition: 0.7s;
}
.button:active {
  background-color: var(--color-active);
  transform: scale(1.1);
  transition: 0.4s;
}

.hero__button {
  font-size: 16px;
  padding: 17px 38px;
}
@media (min-width: 888px) {
  .hero__button {
    padding: 19px 41px;
  }
}

.freedom__button {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  padding: 14px 31px;
}

.header {
  background-color: var(--color-green-primary);
  z-index: 2;
}
@media (min-width: 888px) {
  .header {
    background-color: transparent;
  }
  .header .color_logo {
    fill: var(--color-white);
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 15px;
  max-height: 80px;
}
.header__menu {
  display: none;
}
@media (min-width: 888px) {
  .header__menu {
    display: block;
  }
}
@media (min-width: 888px) {
  .header__menu_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}
.header__button_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header .logo_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (min-width: 888px) {
  .header .logo_content {
    padding-left: 40px;
  }
}
@media (min-width: 888px) {
  .header .logo_content__img {
    width: 38px;
    height: 40px;
  }
}
@media (min-width: 888px) {
  .header .logo_content__text {
    width: 149px;
    height: 23px;
  }
}
.header .menu_content__item {
  padding: 8px 16px;
  cursor: pointer;
}
.header .menu_content__item:hover {
  background-color: rgba(255, 255, 255, 0.3137254902);
  transition: 0.7s;
  border-radius: 10px;
  transform: scale(1.1);
}
.header .menu_content__item:active {
  background-color: var(--border-color);
  transition: 0.4s;
}

@media (min-width: 888px) {
  .button_content__hamburger {
    visibility: hidden;
  }
}

@media (min-width: 888px) {
  .community_header {
    background-color: var(--color-green-primary);
    z-index: 2;
  }
  .community_header .color_logo--community {
    fill: var(--color-green);
  }
}

.menu_item__text--community {
  color: var(--color-gray-9);
}

.footer {
  background-color: var(--color-gray-footer-bg);
}
@media (min-width: 888px) {
  .footer__container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.footer__line--1 {
  width: 100%;
  height: 1px;
  border: 1px solid var(--color-gray-4);
}
@media (min-width: 888px) {
  .footer__line--1 {
    display: none;
  }
}
.footer__line--2 {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  border: 1px solid var(--color-gray-4);
}
@media (min-width: 888px) {
  .footer__line--2 {
    max-width: 967px;
  }
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 98px);
  grid-template-rows: repeat(3, 36px);
  column-gap: 26px;
  row-gap: 8px;
  margin: 20px auto;
  max-width: 375px;
}
@media (min-width: 888px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    max-width: 809px;
  }
}
.footer__logo_content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 99px;
  gap: 4px;
  margin-right: 16px;
}
@media (min-width: 888px) {
  .footer__logo_content {
    max-width: 157px;
  }
}
.footer__lang {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 73px;
}
.footer__lang--desktop {
  visibility: hidden;
}
@media (min-width: 888px) {
  .footer__lang--desktop {
    visibility: visible;
  }
}
@media (min-width: 888px) {
  .footer__lang--mobile {
    width: 1px;
    visibility: hidden;
  }
}
.footer__lang::before {
  content: url("./img/svg-before-en.svg");
  margin-right: 8px;
  margin-top: 6px;
}
.footer__lang::after {
  content: url("./img/svg-after-en.svg");
  margin-left: 4px;
  margin-top: -6px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 346px;
  margin: 25px auto;
  padding-bottom: 25px;
}
@media (min-width: 888px) {
  .footer__content {
    max-width: 976px;
    padding-bottom: 0px;
  }
}
.footer__text_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 888px) {
  .footer__text_content {
    max-width: 976px;
    gap: 600px;
  }
}
@media (min-width: 888px) {
  .footer__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 976px;
    gap: 94px;
    margin: 0 auto;
  }
}

.list__item {
  max-width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.list__item:hover {
  background-color: var(--color-white);
  transition: 0.7s;
  border-radius: 10px;
  transform: scale(1.1);
}
.list__item:active {
  background-color: var(--color-green-primary);
  transition: 0.5s;
}

.list__item .item__text {
  padding: 8px 10px;
}
@media (min-width: 888px) {
  .list__item .item__text {
    padding: 8px 16px;
  }
}

@media (min-width: 888px) {
  .logo_content__item .img_logo {
    width: 31px;
    height: 32px;
  }
}

@media (min-width: 888px) {
  .logo_content__item .text_logo {
    width: 120px;
    height: 19px;
  }
}

.community_hero {
  background-image: url(./img/community_img/bg_hero.jpg);
  background-position: center right;
  background-size: cover;
  background-position-x: 87%;
}
.community_hero__container {
  background: linear-gradient(90deg, #006C35 0%, rgba(0, 96, 49, 0) 100%);
  margin-bottom: 30px;
}
@media (min-width: 888px) {
  .community_hero__container {
    margin-bottom: 60px;
  }
}
.community_hero__text_content {
  max-width: 375px;
  text-align: left;
  padding: 71px 14px 107px;
}
@media (min-width: 888px) {
  .community_hero__text_content {
    max-width: 493px;
    padding: 60px 60px 124px;
  }
}
.community_hero__title {
  margin-bottom: 10px;
}
@media (min-width: 888px) {
  .community_hero__title {
    margin-bottom: 22px;
  }
}

.breadcrumb__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
  max-width: 137px;
  padding: 15px 14px;
}
@media (min-width: 888px) {
  .breadcrumb__list {
    padding: 15px 60px;
  }
}
.breadcrumb__item:first-child::after {
  position: absolute;
  top: 14px;
  left: 64px;
  content: url("./img/community_img/Down_Arrow_3_.svg");
}
@media (min-width: 888px) {
  .breadcrumb__item:first-child::after {
    left: 110px;
  }
}
.breadcrumb__text {
  text-decoration: underline;
  text-decoration-style: solid;
}
.breadcrumb__text--none {
  text-decoration: none;
}

.community_main {
  max-width: 1200px;
  margin: 0 auto 60px;
}
@media (min-width: 888px) {
  .community_main__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 100px;
  }
}
.community_main__img_content {
  margin: 0 auto;
  max-width: 345px;
  position: relative;
}
@media (min-width: 888px) {
  .community_main__img_content {
    max-width: 369px;
  }
}
.community_main__text_content {
  max-width: 346px;
  padding: 0 5px;
  margin: 0 auto 30px;
}
@media (min-width: 888px) {
  .community_main__text_content {
    max-width: 450px;
    margin: 0 auto 60px;
  }
}
.community_main__img {
  width: 100%;
  margin-bottom: 15px;
}
.community_main__svg {
  position: absolute;
  bottom: -12px;
  right: 7px;
  background-color: var(--color-bg-svg);
  width: 48px;
  height: 48px;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 888px) {
  .community_main__svg {
    right: 19px;
  }
}
.community_main__text_card--mini {
  padding: 0 15px;
}
.community_main__line {
  max-width: 256px;
  height: 1px;
  border: 1px solid var(--color-bg-svg);
  margin: 10px auto;
}
.community_main__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community_stay__title {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 888px) {
  .community_stay__title {
    margin-bottom: 22px;
  }
}
.community_stay__svg_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 346px;
  margin: 0 auto 50px;
}
@media (min-width: 888px) {
  .community_stay__svg_content {
    margin-bottom: 68px;
    max-width: 850px;
    gap: 22px;
  }
}
.community_stay__svg_item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px var(--color-black) solid;
  border-radius: 2px;
  width: 28px;
  height: 28px;
}
@media (min-width: 888px) {
  .community_stay__svg_item {
    border-radius: 10px;
    border-width: 2px;
    width: 67px;
    height: 67px;
    margin-bottom: 68px;
  }
}
.community_stay__svg_item:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: 0.7s;
  transform: scale(1.1);
}

@media (min-width: 888px) {
  .stay__svg--1 {
    width: 33px;
    height: 33px;
  }
  .stay__svg--2 {
    width: 34px;
    height: 35px;
  }
  .stay__svg--3 {
    width: 41px;
    height: 33px;
  }
  .stay__svg--4 {
    width: 41px;
    height: 41px;
  }
  .stay__svg--5 {
    width: 19px;
    height: 38px;
  }
  .stay__svg--6 {
    width: 41px;
    height: 43px;
  }
  .stay__svg--7 {
    width: 43px;
    height: 43px;
  }
  .stay__svg--8 {
    width: 51px;
    height: 22px;
  }
  .stay__svg--9 {
    width: 39px;
    height: 39px;
  }
  .stay__svg--10 {
    width: 37px;
    height: 37px;
  }
}

.community_donate__container {
  background-color: var(--color-green-primary);
  margin: 0 15px 50px;
  border-radius: 10px;
}
@media (min-width: 888px) {
  .community_donate__container {
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: row-reverse;
    max-width: 1080px;
  }
}
.community_donate__img_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 888px) {
  .community_donate__img_content {
    padding: 61px 110px;
  }
}
.community_donate__img {
  width: 141px;
}
.community_donate__title {
  text-align: center;
}
.community_donate__text {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 888px) {
  .community_donate__text {
    text-align: left;
  }
}
@media (min-width: 888px) {
  .community_donate__text_content {
    padding: 77px 110px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}
.community_donate__line {
  width: 129px;
  height: 1px;
  border: 1px solid var(--color-bg-svg);
  margin: 10px auto;
}
@media (min-width: 888px) {
  .community_donate__line {
    margin: 20px auto 20px 0px;
  }
}
.community_donate__button_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.support_hero {
  background-image: url(./img/support/background_hero.jpg);
  background-position: left bottom;
  background-size: cover;
  background-position-x: 40%;
}
.support_hero__container {
  background: linear-gradient(90deg, #006C35 0%, rgba(0, 96, 49, 0) 100%);
  margin-bottom: 30px;
}
@media (min-width: 888px) {
  .support_hero__container {
    margin-bottom: 60px;
  }
}
.support_hero__text_content {
  padding: 40px 15px 131px;
}
@media (min-width: 888px) {
  .support_hero__text_content {
    padding: 91px 60px 153px;
  }
}
.support_hero__title {
  margin-bottom: 22px;
}

.support_main__div {
  position: relative;
  background-color: var(--color-bg-svg);
  border-radius: 10px;
  margin: 0 auto 20px;
  max-width: 345px;
  padding: 20px;
}
.support_main__line {
  width: 98%;
  height: 1px;
  border: var(--color-line) 1px solid;
  margin: 26px auto 20px;
}
.support_main__title {
  position: absolute;
  top: 37px;
  left: 101px;
}
@media (min-width: 888px) {
  .support_main__title {
    position: static;
  }
}
.support_main__container {
  margin-bottom: 50px;
}
@media (min-width: 888px) {
  .support_main__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 22px;
    row-gap: 35px;
    margin: 0 auto 60px;
    max-width: 1200px;
  }
}
@media (min-width: 888px) {
  .support_main__div:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
    max-width: 740px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 98px;
  }
}
@media (min-width: 888px) {
  .support_main__div:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: 740px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 98px;
  }
}
@media (min-width: 888px) {
  .support_main__div:last-child {
    grid-column: 3/4;
    grid-row: 1/3;
    max-width: 318px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 36px;
    padding-left: 15px;
    padding-top: 70px;
  }
}
@media (min-width: 888px) {
  .support_main__svg {
    width: 184px;
    height: 184px;
  }
}
@media (min-width: 888px) {
  .support_main__svg:last-child {
    width: 218px;
    height: 218px;
  }
}
.support_main__line {
  width: 98%;
  height: 1px;
  border: var(--color-line) 1px solid;
  margin: 26px auto 20px;
}
@media (min-width: 888px) {
  .support_main__line {
    max-width: 256px;
    margin: 20px 0;
  }
}
@media (min-width: 888px) {
  .support_main__text_content {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media (min-width: 888px) {
  .support_main__text_content--3 {
    margin-left: 15px;
  }
}

.support_get__container {
  background-color: var(--color-green-primary);
  border-radius: 10px;
  margin: 50px 14px;
  padding: 50px 40px;
}
@media (min-width: 888px) {
  .support_get__container {
    margin: 60px auto;
    max-width: 1200px;
  }
}
@media (min-width: 888px) {
  .support_get__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.support_get__title {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 888px) {
  .support_get__title {
    text-align: left;
  }
}
.support_get__img_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 888px) {
  .support_get__img_content {
    padding: 30px 52px 50px;
  }
}
.support_get__item {
  max-width: 255px;
  margin: 0 auto;
}
@media (min-width: 888px) {
  .support_get__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (min-width: 888px) {
  .support_get__item:nth-child(2) {
    margin-top: 20px;
  }
}
@media (min-width: 888px) {
  .support_get__item:nth-child(3) {
    margin-top: 15px;
  }
}
.support_get__subtitle {
  text-align: center;
  margin-bottom: 10px;
}
.support_get__text {
  text-align: center;
}
@media (min-width: 888px) {
  .support_get__text {
    text-align: left;
  }
}
.support_get__line {
  max-width: 255px;
  height: 1px;
  border: 1px solid var(--color-line);
  margin: 20px auto;
}
@media (min-width: 888px) {
  .support_get__line {
    width: 180px;
    position: absolute;
    top: 130px;
    left: 241px;
    transform: rotate(90deg);
  }
}
.support_get__img {
  max-height: 83px;
  margin-bottom: 15px;
}
@media (min-width: 888px) {
  .support_get__img:nth-child(2) {
    margin-bottom: 12px;
  }
}
@media (min-width: 888px) {
  .support_get__img:last-child {
    margin-bottom: 10px;
  }
}

.hero {
  background-image: url(./img/bg_hero-2.jpg);
  background-size: cover;
  background-position: bottom;
  background-position-x: center;
  height: 651px;
}
@media (min-width: 888px) {
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    margin: 170px auto 0px;
    max-width: 1200px;
  }
}
@media (min-width: 888px) {
  .hero {
    height: 800px;
  }
}
@media (min-width: 888px) {
  .hero {
    margin-top: -80px;
    padding-top: 80px;
    z-index: -1;
  }
}
.hero__text_content {
  text-align: center;
  max-width: 354px;
  margin: 0 auto;
  padding-top: 50px;
}
@media (min-width: 888px) {
  .hero__text_content {
    text-align: left;
    max-width: 494px;
    margin-bottom: 40px;
  }
}
.hero__title:last-child {
  margin-bottom: 20px;
}
.hero__subtitle {
  max-width: 340px;
  margin-bottom: 22px;
}
.hero__img_content {
  position: relative;
  width: 348px;
  height: 225px;
  margin: 40px auto;
}
@media (min-width: 888px) {
  .hero__img_content {
    width: 572px;
    height: 363px;
  }
}
.hero__button_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 53px;
}
@media (min-width: 888px) {
  .hero__button_content {
    justify-content: flex-start;
  }
}

.img_content__maps {
  display: block;
  width: 94px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}
@media (min-width: 888px) {
  .img_content__maps {
    width: 152px;
    height: 290px;
  }
}
.img_content__item {
  position: absolute;
  object-fit: cover;
  border-radius: 5px;
  outline: 5px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 9px 9px 18px -1px rgba(16, 24, 40, 0.0784313725);
  box-shadow: 0px 18px 37px -2px rgba(16, 24, 40, 0.2);
}
.img_content__item--left {
  top: 11px;
  left: 29px;
  transform: rotate(-15deg);
}
.img_content__item--center {
  top: -18px;
  left: 116px;
  z-index: 5;
}
@media (min-width: 888px) {
  .img_content__item--center {
    top: -45px;
    left: 191px;
  }
}
.img_content__item--right {
  top: 11px;
  right: 29px;
  transform: rotate(15deg);
}
.img_content__item--center .maps {
  width: 117px;
  height: 224px;
}
@media (min-width: 888px) {
  .img_content__item--center .maps {
    width: 190px;
    height: 358px;
  }
}

.map {
  margin: 40px 0px;
}
@media (min-width: 888px) {
  .map {
    max-width: 1013px;
    margin: 40px auto;
  }
}
.map__container {
  position: relative;
  background-image: url(./img/map-bg-3.png);
  background-size: contain;
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 272px;
  max-width: 375px;
  margin: 55px auto;
}
@media (min-width: 888px) {
  .map__container {
    height: 680px;
    max-width: 1013px;
  }
}
.map__logo_content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 10px solid rgba(255, 255, 255, 0.6980392157);
  border-radius: 50%;
}
@media (min-width: 888px) {
  .map__logo_content {
    top: 40%;
  }
}
.map__border_logo {
  width: 1px;
  border: 45px solid var(--color-green);
  border-radius: 50%;
  z-index: 1;
}
@media (min-width: 888px) {
  .map__border_logo {
    border-width: 60px;
  }
}
.map__img_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: block;
  margin-bottom: 16px;
}
@media (min-width: 888px) {
  .map__img_logo {
    width: 75px;
    height: 74px;
  }
}
.map__text_content {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 888px) {
  .map__text_content {
    top: 64%;
  }
}
.map__title {
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 888px) {
  .map__title {
    margin-bottom: 25px;
  }
}
.map__subtitle {
  text-align: center;
}
.map__img_content {
  position: relative;
}
.map__img {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--color-green);
  border-radius: 50%;
}
@media (min-width: 888px) {
  .map__img {
    border: none;
  }
}
.map__img:hover {
  border: 2px var(--color-green) solid;
  transform: scale(1.1);
  transition: 0.7s;
}
.map__img--1 {
  width: 25px;
  height: 25px;
  bottom: -199px;
  left: 84px;
}
@media (min-width: 888px) {
  .map__img--1 {
    width: 80px;
    height: 80px;
    top: 517px;
    left: 269px;
  }
}
.map__img--2 {
  width: 20px;
  height: 20px;
  top: 57px;
  left: 49px;
}
@media (min-width: 888px) {
  .map__img--2 {
    width: 72px;
    height: 72px;
    top: 366px;
    left: 253px;
  }
}
.map__img--3 {
  top: 91px;
  left: 79px;
}
@media (min-width: 888px) {
  .map__img--3 {
    width: 96px;
    height: 96px;
    top: 221px;
    left: 194px;
  }
}
.map__img--4 {
  width: 22px;
  height: 22px;
  top: 45px;
  left: 113px;
}
@media (min-width: 888px) {
  .map__img--4 {
    width: 64px;
    height: 64px;
    top: 135px;
    left: 365px;
  }
}
.map__img--5 {
  width: 20px;
  height: 20px;
  top: 58px;
  right: 49px;
}
@media (min-width: 888px) {
  .map__img--5 {
    width: 64px;
    height: 64px;
    top: 133px;
    right: 164px;
  }
}
.map__img--6 {
  top: 89px;
  right: 80px;
}
@media (min-width: 888px) {
  .map__img--6 {
    width: 96px;
    height: 96px;
    top: 219px;
    right: 284px;
  }
}
.map__img--7 {
  width: 23px;
  height: 23px;
  top: 131px;
  right: 47px;
}
@media (min-width: 888px) {
  .map__img--7 {
    width: 72px;
    height: 72px;
    top: 365px;
    right: 225px;
  }
}
.map__img--8 {
  width: 25px;
  height: 25px;
  top: 168px;
  right: 87px;
}
@media (min-width: 888px) {
  .map__img--8 {
    width: 80px;
    height: 80px;
    top: 486px;
    right: 142px;
  }
}

.main__container {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--color-green-primary);
}
@media (min-width: 888px) {
  .main__container {
    max-width: 1095px;
    border-radius: 40px;
  }
}
@media (min-width: 888px) {
  .main__box--reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: row-reverse;
  }
}
.main__span::before {
  content: url("./img/svg-before.svg");
}
.main__span::after {
  content: url("./img/svg-after.svg");
}

.box {
  max-width: 1095px;
}
@media (min-width: 888px) {
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
.box__img_view {
  width: 193px;
  height: 192px;
  border-radius: 24px;
  outline: 10px solid rgba(255, 255, 255, 0.6980392157);
  overflow: hidden;
}
@media (min-width: 888px) {
  .box__img_view {
    width: 370px;
    height: 369px;
  }
}
.box__img_map {
  width: 120px;
  height: 227px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 5px 32px -2px rgba(16, 24, 40, 0.3019607843);
}
@media (min-width: 888px) {
  .box__img_map {
    width: 229px;
    height: 432px;
  }
}
.box__img_content {
  position: relative;
  width: 100%;
  height: 227px;
  margin-bottom: 30px;
}
@media (min-width: 888px) {
  .box__img_content {
    position: relative;
    max-width: 436px;
    height: 470px;
  }
}
.box__img_map {
  position: absolute;
  top: 20px;
  left: 61px;
}
@media (min-width: 888px) {
  .box__img_map {
    top: 20px;
    left: 166px;
  }
}
.box__img_map--2, .box__img_map--4 {
  top: 20px;
  left: 203px;
}
@media (min-width: 888px) {
  .box__img_map--2, .box__img_map--4 {
    top: 20px;
    left: 40px;
  }
}
.box__img_view {
  position: absolute;
  top: 38px;
  left: 124px;
}
@media (min-width: 888px) {
  .box__img_view {
    top: 61px;
    left: -79px;
  }
}
.box__img_view--1 {
  object-position: center right;
  transform: scaleX(-1);
}
@media (min-width: 888px) {
  .box__img_view--1 {
    transform: scaleX(1);
  }
}
.box__img_view--2, .box__img_view--4 {
  top: 36px;
  left: 61px;
}
@media (min-width: 888px) {
  .box__img_view--2, .box__img_view--4 {
    top: 61px;
    left: 127px;
  }
}
.box__text_content {
  text-align: center;
  max-width: 348px;
  margin: 20px auto;
}
@media (min-width: 888px) {
  .box__text_content {
    max-width: 505px;
    text-align: left;
  }
}

.img_view__real {
  object-fit: cover;
  object-position: center right;
  width: 250px;
  height: 230px;
  border-radius: 24px;
}
@media (min-width: 888px) {
  .img_view__real {
    width: 350px;
    height: 400px;
  }
}
.img_view__real--1 {
  transform: translate(-38%, -7%);
}
@media (min-width: 888px) {
  .img_view__real--1 {
    transform: translate(-27%, 0%);
  }
}
.img_view__real--2 {
  transform: translate(-20%, -16%);
}
@media (min-width: 888px) {
  .img_view__real--2 {
    transform: scaleX(-1) translate(-19%, -7%);
  }
}
.img_view__real--3 {
  object-position: center bottom;
  transform: scaleX(-1) translate(1%, -16%);
}
@media (min-width: 888px) {
  .img_view__real--3 {
    transform: scaleX(-1) translate(2%, -6%);
  }
}
.img_view__real--4 {
  transform: translate(0%, -16%);
}
@media (min-width: 888px) {
  .img_view__real--4 {
    object-position: center;
    width: 350px;
    height: 400px;
    transform: scaleX(-1) translate(-14%, -6%);
  }
}

.box__green_content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--color-green-light);
  border-radius: 5px;
  padding: 6px 5px;
  z-index: 10;
}
.box__green_content:hover {
  transform: scale(1.1);
  transition: 0.7s;
}
@media (min-width: 888px) {
  .box__green_content {
    padding: 11px 15px;
  }
}
.box__green_content--1 {
  top: 83px;
  left: 129px;
}
@media (min-width: 888px) {
  .box__green_content--1 {
    top: 314px;
    left: 72px;
  }
}
.box__green_content--2 {
  top: 159px;
  left: 158px;
}
@media (min-width: 888px) {
  .box__green_content--2 {
    top: 170px;
    left: 170px;
  }
}
.box__green_content--3 {
  top: 140px;
  left: 129px;
}
@media (min-width: 888px) {
  .box__green_content--3 {
    top: 283px;
    left: 47px;
  }
}
.box__green_content--4 {
  top: 145px;
  left: 149px;
}
@media (min-width: 888px) {
  .box__green_content--4 {
    top: 322px;
    left: 206px;
  }
}

.box__green_content--1 .svg {
  width: 14px;
  height: 14px;
}
@media (min-width: 888px) {
  .box__green_content--1 .svg {
    width: 20px;
    height: 21px;
  }
}

.box__green_content--2 .svg {
  width: 11px;
  height: 13px;
}
@media (min-width: 888px) {
  .box__green_content--2 .svg {
    width: 18px;
    height: 22px;
  }
}

.box__green_content--3 .svg {
  width: 14px;
  height: 8px;
}
@media (min-width: 888px) {
  .box__green_content--3 .svg {
    width: 30px;
    height: 24px;
  }
}

.box__green_content--4 .svg {
  width: 15px;
  height: 15px;
}
@media (min-width: 888px) {
  .box__green_content--4 .svg {
    width: 24px;
    height: 24px;
  }
}

.freedom__container {
  position: relative;
  margin: 50px auto;
  max-width: 343px;
  overflow: hidden;
  background-color: var(--color-green-primary);
  height: 600px;
  border-radius: 10px;
}
@media (min-width: 888px) {
  .freedom__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1096px;
    height: 380px;
    padding: 0 20px;
  }
}
.freedom__button_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.freedom__text_content {
  padding-top: 60px;
  text-align: center;
}
@media (min-width: 888px) {
  .freedom__text_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    max-width: 403px;
    margin: 90px 40px;
    padding-top: 0;
  }
}
.freedom__subtitle--desktop {
  display: none;
}
@media (min-width: 888px) {
  .freedom__subtitle--desktop {
    display: block;
    margin-bottom: 40px;
  }
}
.freedom__title {
  margin-bottom: 16px;
}

.freedom__img_div {
  position: absolute;
  top: 293px;
  left: 50%;
  transform: translate(-50%);
  width: 260px;
  height: 359px;
  border-radius: 24px;
  outline: 10px solid rgba(255, 255, 255, 0.6980392157);
  overflow: hidden;
  border-bottom: none;
  box-shadow: 15px 15px 30px -2px rgba(16, 24, 40, 0.0784313725);
}
@media (min-width: 888px) {
  .freedom__img_div {
    position: static;
    transform: translate(-19%);
    width: 260px;
    height: 350px;
    border-radius: 24px;
    outline: 10px solid rgba(255, 255, 255, 0.6980392157);
    overflow: hidden;
    margin-bottom: -76px;
  }
}

.img_div__item {
  object-fit: cover;
  object-position: center center;
  width: 416px;
  height: 377px;
  border-radius: 24px;
  transform: translate(-18%, -13%);
}
@media (min-width: 888px) {
  .img_div__item {
    overflow: hidden;
  }
}

.freedom__subtitle--mobile {
  margin: 0px auto 24px;
  max-width: 269px;
}
@media (min-width: 888px) {
  .freedom__subtitle--mobile {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
