* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /* Fonts */
    --main-font: "Montserrat", sans-serif;

    /* Colors */
    --color-white: #FFFFFF;
    --color-orange: #FF9900;

    --color-title: #2F281E;
    --color-text: #544837;
    --color-border: #BCD0E5;

    /* --title-font: 700 44px/54px var(--main-font); */
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-text);
}


.title {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: var(--color-title);
    /* font: var(--title-font); */
}

.sub-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: var(--color-title);
}

.h3-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.simple_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.simple_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.footer__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}


/* Home Work */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    background-color: var(--color-orange);
    padding: 13px 40px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-white);
    cursor: pointer;
}

.button-secondary {
    background-color: transparent;
    color: var(--color-title);
    border: 1px solid var(--color-border);
}

.input {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 15px 118px 15px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-border);
}

/* Header section */


.header__content {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    max-width: 200px;
}

.menu {
    max-width: 352px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu :first-child {
    color: var(--color-orange);
}

.button_content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

/* как сделать, чтобы имеено эти две кнопки были по 110px? */
.button_content.button {
    max-width: 110px;
}

/* Hero section */
.hero {

    padding-top: 70px;
}

.container__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero__content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero__content .title {
    margin-bottom: 30px;
}

.hero__content .text {
    margin-bottom: 20px;
}

.hero__content .button {
    max-width: 180px;
}

.hero__img {
    width: 100%;
    max-width: 644px;
}

/* Hero Section */


/* Features section */
.features {
    padding: 100px 0 75px;
    background-image: url(../img/bg.png);
    background-position: bottom center;
    background-size: cover;
}

.features__title {
    margin-bottom: 50px;
    max-width: 520px;
    text-align: center;
}

.features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
}

.features__item {
    max-width: 270px;
}

/* benefits section */

.benefits {
    padding: 100px;
}

.benefits__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 113px;
    padding: 20px 0;
    margin-bottom: 100px;
}

.benefits__content {
    max-width: 525px;
    display: flex;
    flex-direction: column;
}

.benefits__img {
    max-width: 562px;
}

.title_content:first-child {
    padding-top: 21px;
}

.title_content .sub-title {
    margin-bottom: 20px;
}

.title_content {
    margin-bottom: 40px;
}

.text_content .simple_title {
    margin-bottom: 10px;
}

.text_content .simple_text {
    margin-bottom: 30px;
}

/* product */

.list__item .simple_text {
    margin-bottom: 0px;
}

.img-product {
    max-width: 570px;
}

.benefits_content-product {
    max-width: 505px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list__item {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}


.list__item img {
    max-width: 35px;
}

/* marketers */

.benefits_content-marketers {
    max-width: 486px;

}

.img-marketers {
    max-width: 540px;
}

.create-line {
    width: 100%;
    border-top: 1px solid var(--color-border);
}

/* footer */

.footer__row {
    display: flex;
    flex-direction: column;
    max-width: 133px;
    white-space: nowrap;
}

.footer__title {
    margin-bottom: 30px;
}

.footer__title-last {
    margin-bottom: 0px;
}


.footer__row .simple_text {
    margin-bottom: 15px;
}

.footer {
    padding: 70px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 130px;
}

.footer__row-last {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    gap: 25px;
    white-space: wrap;
}

.footer__button {
    max-width: 180px;
}