@use './variables/color-variables';
@use './variables/text-variables';
@use './variables/border-variable';
@use './variables/button-variable';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



// @use './mixins/bg_decor' as *;
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.img_content {
    position: relative;
    width: fit-content;
}

.img_decoration {
    --img-decoration-gap: -10px;

    width: 100px;
    height: 100px;
    border-top: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    position: absolute;
    top: var(--img-decoration-gap);
    left: var(--img-decoration-gap);

    &--right-top {
        left: auto;
        right: var(--img-decoration-gap);
        transform: scaleX(-1);
    }

    &--left-bottom {
        top: auto;
        bottom: var(--img-decoration-gap);
        transform: scaleY(-1);
    }

    &--right-bottom {
        top: auto;
        left: auto;
        right: var(--img-decoration-gap);
        bottom: var(--img-decoration-gap);
        transform: scale(-1);
    }
}

.title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.line_content {
    position: relative;

    &--left {
        width: 210px;
        border-top: 1px solid var(--text-color);
        position: absolute;
        top: 10px;
        left: -216px;
    }

    &--right {
        width: 210px;
        border-top: 1px solid var(--text-color);
        position: absolute;
        top: 10px;
        left: 24px;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 170px;
    max-width: 1030px;
    padding: 65px 70px;
}

.svg_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    max-width: 135px;
    margin-bottom: 50px;
}

.text_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    min-width: 430px;
    text-align: center;
}



.title__text_content {
    position: relative;
}

.text_name_line {
    position: absolute;
    top: 54px;
    left: 62px;
    width: 100px;
    border-bottom: 1px var(--text-color) solid;
}

.subtitle__text_content {
    margin: 30px auto;
}

.line {
    margin-bottom: 25px;
}

.text_content_decoration {
    position: relative;

    &--line {
        height: 560px;
        border-left: 1px solid var(--text-color);
        position: absolute;
        top: -74px;
        left: -270px;
    }
}