/* Звернення до всіх Єлементів */

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* Reset CSS End */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 970px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    margin: 0 auto;
}

/* Header Start */
.header__nav {
    border-bottom: 1px solid #828282;
}

.header__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    list-style: none;

}

.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    text-decoration: none;
    color: #828282;
}

/* Header End */

/* Hero Start */
.about__container {
    max-width: 480px;
    text-align: center;

}

.tile {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;

    display: flex;
    justify-content: flex-start;

    padding: 0 670 437 0;
}

.about__title {
    margin-bottom: 50px;
}

.hero__img {
    max-width: 970px;
    margin-top: 50;
}

/* Hero End */

/* About Start */
.about {
    background-color: #F6F6F6;
}

.sub-title {
    display: flex;
    justify-self: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #070707;
}

.text {
    text-align: center;
    color: #070707;
    font-weight: 400;
    font-size: 18;
    line-height: 25px;
    padding-bottom: 30px;
}


/* About End */