$tablet: 888px;

:root {
    --color-white: #fff;
    --color-green: #006C35;
    --color-bg-svg: #006031;
    --color-green-light: #33895E;
    --color-hover: #00b259;
    --color-active: #19e17d;
    --color-line: #AEC5BA;
    --color-green-primary: #E5F0EB;
    --color-gray: #636363;
    --color-gray-9: #000D07;
    --color-black: #000;
    --color-gray-8: #26312C;
    --color-gray-7: #4C5651;
    --color-text-card: #5A5A5A;
    --color-gray-footer-bg: #F5F5F5;
    --color-gray-4: #D9DBDA;
    --border-color: #FFFFFF80;
}