* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    padding-top: 120px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-family: 'Delius Unicase';
    margin-top: 120px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45.07px;
    letter-spacing: 5%;
    color: #000000;
}

.title_content {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background:
        var(--item-gradient, linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62%)),
        var(--item-img) center center/cover;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.5s, transform 0.5s;
}

.item__icons,
.item__content {
    display: flex;
    justify-content: space-between;
}

.item__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}

.item__content:last-child {
    font-weight: 200;
}

.item__icon {
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 8px;
    opacity: 0;
    opacity: var(--item-icons-opacity, 0);
    transition: opacity 0.5s;
}

.item__icon:hover {
    opacity: 1;
}

.item:hover {
    --item-icons-opacity: 0.5;
    --item-gradient: linear-gradient(360deg, #241F24 1%, rgba(91, 91, 91, 0.2) 7%, rgba(187, 186, 192, 0) 12%);
    box-shadow: 0px 0px 30px 0px #00000080;
    transform: scale(1.03);
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 370px);
    gap: 30px;
}



.grid-1__item--1 {
    --item-img: url(../img/image-1.jpg);
}

.grid-1__item--2 {
    --item-img: url(../img/image-2.jpg);
    grid-column: span 2;
}

.grid-1__item--3 {
    --item-img: url(../img/image-3.jpg);
    grid-column: span 2;
}

.grid-1__item--4 {
    --item-img: url(../img/image-4.jpg);
}

.grid-1__item--5 {
    --item-img: url(../img/image-5.jpg);
}

.grid-1__item--6 {
    --item-img: url(../img/image-6.jpg);
    grid-column: span 2;
}

/* grid-2 */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 370px 770px 370px;
    gap: 30px;
}

.grid-2__item--1 {
    --item-img: url(../img/image-2-1.jpg);
}

.grid-2__item--2 {
    --item-img: url(../img/image-2-2.jpg);
    grid-column: span 2;
}

.grid-2__item--3 {
    --item-img: url(../img/image-2-3.jpg);
    grid-column: span 2;
}

.grid-2__item--4 {
    --item-img: url(../img/image-2-4.jpg);
}

.grid-2__item--5 {
    --item-img: url(../img/image-2-5.jpg);
    grid-column: span 2;
}

.grid-2__item--6 {
    --item-img: url(../img/image-2-6.jpg);
}

/* people */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 370px);
    gap: 30px;
}

.grid-3__item--1 {
    --item-img: url(../img/image-3-1.jpg);
}

.grid-3__item--2 {
    --item-img: url(../img/image-3-2.jpg);
    grid-row: span 2;
}

.grid-3__item--3 {
    --item-img: url(../img/image-3-3.jpg);
}

.grid-3__item--4 {
    --item-img: url(../img/image-3-4.jpg);
}

.grid-3__item--5 {
    --item-img: url(../img/image-3-5.jpg);
    grid-row: span 2;
}

.grid-3__item--6 {
    --item-img: url(../img/image-3-6.jpg);
    grid-row: span 2;
}

.grid-3__item--7 {
    --item-img: url(../img/image-3-7.jpg);

}

.grid-3__item--8 {
    --item-img: url(../img/image-3-8.jpg);
    grid-column: span 2;
}

.grid-3__item--9 {
    --item-img: url(../img/image-3-9.jpg);
    grid-column: span 2;
}

.grid-3__item--10 {
    --item-img: url(../img/image-3-10.jpg);
}