@use '../global/reset';

@use '../variables/text-variables' as *;

@use '../variables/color-variables' as *;

@use '../commond/header';

@use '../commond/footer';

@use '../component/buttons';


.community_hero {
    background-image: url(./img/community_img/bg_hero.jpg);
    background-position: center right;
    background-size: cover;
    background-position-x: 87%;

    @media (min-width:$tablet) {
        // max-width: 1200px;
    }


    &__container {
        background: linear-gradient(90deg, #006C35 0%, rgba(0, 96, 49, 0) 100%);
        margin-bottom: 30px;

        @media (min-width:$tablet) {
            margin-bottom: 60px;
        }
    }

    // max-width: 375px;
    &__text_content {
        max-width: 375px;
        text-align: left;
        padding: 71px 14px 107px;

        @media (min-width:$tablet) {
            max-width: 493px;
            padding: 60px 60px 124px;
        }
    }

    &__title {
        margin-bottom: 10px;

        @media (min-width:$tablet) {
            margin-bottom: 22px;
        }
    }
}

.breadcrumb {
    &__list {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 29px;
        max-width: 137px;
        padding: 15px 14px;

        @media (min-width:$tablet) {
            padding: 15px 60px;
        }
    }


    &__item:first-child::after {
        position: absolute;
        top: 14px;
        left: 64px;
        content: url("./img/community_img/Down_Arrow_3_.svg");

        @media (min-width:$tablet) {
            left: 110px;
        }
    }


    &__text {
        text-decoration: underline;
        text-decoration-style: solid;

        &--none {
            text-decoration: none;
        }

    }
}

//main
.community_main {

    max-width: 1200px;
    margin: 0 auto 60px;

    &__grid {
        @media (min-width:$tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            column-gap: 100px;

        }
    }

    &__img_content {
        margin: 0 auto;
        max-width: 345px;
        position: relative;

        @media (min-width:$tablet) {
            max-width: 369px;
        }
    }

    &__text_content {
        max-width: 346px;
        padding: 0 5px;
        margin: 0 auto 30px;

        @media (min-width:$tablet) {
            max-width: 450px;
            margin: 0 auto 60px;
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 15px;
    }

    &__svg {
        position: absolute;
        bottom: -12px;
        right: 7px;
        background-color: var(--color-bg-svg);
        width: 48px;
        height: 48px;
        border-radius: 5px;
        padding: 8px;
        box-shadow: 0px 4px 10px 0px #00000040;

        @media (min-width:$tablet) {
            right: 19px;
        }
    }

    &__text_card--mini {
        padding: 0 15px;
    }

    &__line {
        max-width: 256px;
        height: 1px;
        border: 1px solid var(--color-bg-svg);
        margin: 10px auto;
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//stay
.community_stay {
    &__title {
        text-align: center;
        margin-bottom: 20px;

        @media (min-width:$tablet) {
            margin-bottom: 22px;
        }
    }

    &__svg_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-width: 346px;
        margin: 0 auto 50px;

        @media (min-width:$tablet) {
            margin-bottom: 68px;
            max-width: 850px;
            gap: 22px;
        }
    }

    &__svg_item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px var(--color-black) solid;
        border-radius: 2px;
        width: 28px;
        height: 28px;

        @media (min-width:$tablet) {
            border-radius: 10px;
            border-width: 2px;
            width: 67px;
            height: 67px;
            margin-bottom: 68px;
        }

    }

    &__svg_item:hover {
        box-shadow: 0px 4px 10px 0px #00000040;

        transition: 0.7s;
        transform: scale(1.1);
    }

}

.stay__svg {
    @media (min-width:$tablet) {
        &--1 {
            width: 33px;
            height: 33px;
        }

        &--2 {
            width: 34px;
            height: 35px;
        }

        &--3 {
            width: 41px;
            height: 33px;
        }

        &--4 {
            width: 41px;
            height: 41px;
        }

        &--5 {
            width: 19px;
            height: 38px;
        }

        &--6 {
            width: 41px;
            height: 43px;
        }

        &--7 {
            width: 43px;
            height: 43px;
        }

        &--8 {
            width: 51px;
            height: 22px;
        }

        &--9 {
            width: 39px;
            height: 39px;
        }

        &--10 {
            width: 37px;
            height: 37px;
        }
    }
}

.community_donate {
    &__container {
        background-color: var(--color-green-primary);
        margin: 0 15px 50px;
        border-radius: 10px;

        @media (min-width:$tablet) {
            margin: 60px auto;
            display: flex;
            justify-content: space-between;
            align-self: center;
            flex-direction: row-reverse;
            max-width: 1080px;
        }
    }

    &__img_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 20px;

        @media (min-width:$tablet) {
            padding: 61px 110px;
        }
    }

    &__img {
        width: 141px;
    }

    &__title {
        text-align: center;
    }

    &__text {
        text-align: center;
        margin-bottom: 30px;

        @media (min-width:$tablet) {
            text-align: left;
        }
    }

    &__text_content {
        @media (min-width:$tablet) {
            padding: 77px 110px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__line {
        width: 129px;
        height: 1px;
        border: 1px solid var(--color-bg-svg);
        margin: 10px auto;

        @media (min-width:$tablet) {
            margin: 20px auto 20px 0px;
        }
    }

    &__button_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}