* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 150px 120px 0px;
    background-image: url(../img/bg-picture.png);
    background-repeat: no-repeat;
    /* background-size: 760px; */
    background-size: 700px;
    /* background-position: right top; */
    background-attachment: fixed;
    background-position-y: 138px;
    background-position-x: 100%;

}


.main {
    display: grid;
    grid-template-columns: 385px 1fr;
    gap: 30px;
}

.container {
    margin-bottom: 70px;
}

.hero {
    align-content: center;
    color: black;
}

/* header */


.container__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 5;
}

.container__header .content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lang {
    font-family: "Tourney", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    line-height: 18px;
}

.text__nav {
    font-family: "Staatliches", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
}

.logo {
    max-width: 238px;
}

.nav {
    left: 210px;
    max-width: 261px;
    display: flex;
    justify-content: space-between;
}

.content__item:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


/* aside */
aside {
    position: sticky;
    top: 116px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    max-width: 385px;
    gap: 70px;
}

.menu__item {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 40px;
}

.aside .title {
    margin-bottom: 0px;
}



/* hero */

.title {
    position: relative;
    font-family: "Francois One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 40px;
    width: fit-content;
}

.hero .title::before {
    content: '';
    position: absolute;
    top: -22%;
    left: 0;
    width: 20%;
    height: 10%;
    background-color: #000;
}


.chapter {
    position: absolute;
    top: -12px;
    right: -91px;
    font-family: Farro, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
}



.text {
    font-family: "PT Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 40px;
}

.underline {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: Auto;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.background {
    background-color: #D9D9D9;
}