* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 500px 2fr;
    gap: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.text__content {
    font-size: 20px;
    padding: 20px;
}

.aside .text {
    position: sticky;
    top: 20px;
    padding: 50px 20px;
}