:root {
    --color-white: #fff;
    --color-grey: #3b3f45;
    --color-lite-grey: #4a4f56;
    --color-text: #ff8984;
    --color-purple: #7a7593;
    --color-lite-purple: #88839e;
    --color-dark-purple: #625e77;
    --color-red: rgb(147, 46, 46);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 793px;
    height: 507px;
    margin: 0 auto;
    background-color: var(--color-grey);
    border: 10px solid var(--color-white);
}

.header {
    background-color: var(--color-lite-grey);
    color: var(--color-text);
    text-align: center;
    padding: 20px 0;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
}

.btn {
    background-color: var(--color-lite-grey);
    color: var(--color-text);
    width: 534px;
    height: 45px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}


.box {
    background-color: var(--color-lite-purple);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    margin: 22px 130px 35px 129px;
    cursor: pointer;
}


.form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 11px;
    background-color: var(--color-lite-purple);
    transition: background-color 0.3s, border 0.3s;
}


.form:nth-child(2n) {
    background-color: var(--color-purple);
}


.form:hover {
    background-color: var(--color-dark-purple);
    border: 3px solid var(--color-white);
}


.form:active {
    background-color: var(--color-red);
    opacity: 0.6;
}


.form__checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


label {
    font-size: 18px;
    font-weight: 400;
}

.checkbox__span {
    font-size: 11px;
}

.form__checkbox:checked+label .checkbox__span {
    text-decoration: line-through;
    opacity: 0.6;
}

.btn:hover {

    transform: scale(1.1);
}

.btn:active {
    background-color: greenyellow;
    color: #4a4f56;
    opacity: 0.6;
}