:root {
    --header-color: #232229;
    --footer-color: #191919;
    --text-color: #fff;
    --text-gray: #a7a7a7;
    --bg-search: #000000B2;
    --text-search: #4E4C5E;
    --btn-color: #E13C52;
    --social-media-hover: #55ACE3;
}