.button {
    padding: 16px 40px;
    border-radius: 8px;
    border-color: #f78d2e;
    background-color: #f78d2e;
    color: #fff;
    font-family: "montserrat", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;

    &:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }

    &:active {
        background-color: greenyellow;
        color: #000;
        transition: 0.3s;
    }

    &--secondary {
        background-color: transparent;
        color: #f78d2e;
        border-color: #f78d2e;
    }


}